@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f0f0f0;
}

center {
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.response {
    text-align: left;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}

/* CSS for styling the code block */
.code-block {
    display: block;
    padding: 10px;
    color: white;
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-family: monospace;
}

.message {
    resize: none;
}

.error {
    color: red;
}

.button:disabled {
    padding: 5px 10px;
    background-color: #004b64;
    color: #989898;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}